.mainHeading {
  font-weight: bold;
  font-size: 2.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.feature {
  border: 1px solid var(--ifm-contents-border-color);
  border-radius: var(--ifm-border-radius);
  padding: 1rem;
}

.feature h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--ifm-h3-color);
  margin-bottom: 0.75rem;
}

.feature p {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--ifm-font-color-secondary);
}
