/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #33D48B; /* Lighter Emerald */
  --ifm-color-primary-dark: #2CB677;
  --ifm-color-primary-darker: #259963;
  --ifm-color-primary-darkest: #1E7B4F;
  --ifm-color-primary-light: #54DE9D;
  --ifm-color-primary-lighter: #75E8AF;
  --ifm-color-primary-lightest: #96F2C2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-card-background-color: #ffffff; /* Default light mode card background */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #10B981; /* Primary Accent */
  --ifm-color-primary-dark: #0C9D70;
  --ifm-color-primary-darker: #065F46; /* Secondary */
  --ifm-color-primary-darkest: #044330;
  --ifm-color-primary-light: #29C998;
  --ifm-color-primary-lighter: #4EDDAE;
  --ifm-color-primary-lightest: #73F2BF;

  --ifm-background-color: #0D1117; /* Background */
  --ifm-font-color-base: #D1D5DB; /* Text */
  --ifm-card-background-color: #1a202c; /* Default dark mode card background */

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
